.belt{
    width: 40%;
    height: 3%;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(32, 30, 31);
    z-index: 3;
}

.trouser{
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    width: 20%;
    height: 35%;
    background-color: #201E1F;
    top: 57%;
    left: 30%;
}

.trouser + .trouser{
    left: auto;
    right: 30%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
}

.fold{
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 5%;
    background-color: rgb(95, 95, 95)
}

.leg{
    width: 13%;
    height: 40%;
    background-color: var(--default-skin);
    top: 55%;
    left: 31%;
    z-index: -1;
}

.leg + .leg{
    left: auto;
    right: 31%;
}

.shoe{
    width: 120%;
    height: 9%;
    background: rgb(13, 28, 29);
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100% / 120% 120% 0% 0%;
}

.shoe::after{
    background-color: #bfdcec;
    content: "";
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: -8%;
    left: 0;
}

.shoe::before{
    height: 15%;
    width: 20%;
    background-color: #ffffff;
    content: "";
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
}